body{
    background-color: blue;
}

div[id="game"]{
    color:black;
    background-color: lightgrey;
    width: 480px;
    border: 7px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    border-collapse: collapse;
    margin: auto;

}

div[id="stats"]{
    padding: 5px;
    border-width: 2px;
    border-style: solid;
}

div[id="controls"]{
    padding: 5px;
    border-width: 2px;
    border-style: solid;

}

div[class="stat"]{
    border-width: 2px;
}

div[id="monsterStats"]{
    background-color: black;
    color: white;
    padding: 2px;
    display: none;
    background-color: red;
}

div[id="text"]{
    background-color: black;
    color: white;
    padding: 2px;
    min-height: 60px;
}

.controlButton {
    opacity: 1;
}
  